@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* --------------------------- FONTS */

body {
    font-family: "Raleway", sans-serif;
    color: #4B5657;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

/* --------------------------- BUTTONS */

.btn--brand-color {
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FF5F1C;
    border-color: #FF5F1C;
}

.btn--brand-color:hover {
    color: #FFFFFF;
    background-color: #FF4D02;
    border-color: #FF4D02;
}

.btn--brand-color:active,
.btn--brand-color:focus,
.btn--brand-color:active:focus {
    color: #FFFFFF;
    background-color: #FF4D02;
    border-color: #FF4D02;
    box-shadow: 0 0 0 0.2rem rgba(110, 127, 128, .50)
}

.btn--shop-width {
    min-width: 130px;
}

#shop-dog-button {
    display: block;
    float: left;
    margin-bottom: 20px;
}

#shop-cat-button {
    display: block;
    float: left;
    margin-left: 40px;
}

.amazon-button {
    margin-top: 10px;
    font-size: 20px;
}

.btn--grey {
    background-color: #4B5657;
    border-color: #4B5657;
    color: #FFFFFF;
}

.btn--grey:hover {
    color: #FFFFFF;
    background-color: #4B5657;
    border-color: #4B5657;
}

.btn--grey:active,
.btn--grey:focus,
.btn--grey:active:focus {
    color: #FFFFFF;
    background-color: #4B5657;
    border-color: #4B5657;
    box-shadow: 0 0 0 0.2rem rgba(110, 127, 128, .50)
}

/* --------------------------- ICONS */

i {
    color: #F6F7F7;
}

.fa:hover {
    transition: 0.25s;
    color: #FF834F;
}

/* --------------------------- NAVIGATION */

#logo {
    height: 50px;
    width: 229px;
}

.navbar-brand {
    padding: 10px 0 20px 0;
}

.navbar-nav {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: #566465;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
    font-weight: 500;
    text-decoration: none;
}

.navbar li {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #F6F7F7;
}

.navbar-toggler {
    border: 0;
}

.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus,
.navbar-toggler:active:focus {
    outline: none;
}

.dropdown-menu {
    background-color: #FFFFFF;
    text-align: center;
}

.dropdown-item {
    padding: 10px 0 10px 0;
    margin-left: 0;
    margin-right: 0;
    border-color: #6E7F80;
    color: #4B5657;
    font-size: 18px;
}

.dropdown-item:hover {
    color: #FF5F1C;
    font-weight: bold;
    background-color: #FFFFFF;
}

.dropdown-item:active {
    border-color: #6E7F80;
    color: #4B5657;
}

nav {
    cursor: pointer;
}

/* --------------------------- HERO IMAGE AND TITLE SECTION HOME PAGE */

.hero-section {
    background: url("../images/two-dachshunds-with-blue-cat.jpeg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 96px;
    padding: 0;
    position: relative;
}

.hero-section div {
    background-color: rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.15);
    height: inherit;
    width: inherit;
    position: relative;
}

.hero-section h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    color: #F6F7F7;
    margin: 0;
    position: relative;
    width: inherit;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* --------------------------- WHAT WE DO SECTION HOME PAGE */

.what-we-do-section {
    width: 100vw;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: #566465;
    background-color: white;
    padding-top: 40px;
}

.what-we-do-section-image {
    border-radius: 5px;
    margin-bottom: 40px;
}

@media all and (max-width: 992px) {
    .what-we-do-section {
        text-align: center;
    }

    .what-we-do-section h1 {
        padding-top: 40px;
    }
}

/* --------------------------- PRODUCT SECTION HOME PAGE */

.product-section {
    width: 100vw;
    background-color: #4B5657;
    text-align: left;
    margin: auto;
    color: #566465;
    background-color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 40px;
}

.product-section a {
    color: #4B5657;
}

.product-section a:hover {
    text-decoration: none;
    font-weight: bold;
}

.product-section-image {
    border-radius: 5px;
    margin-bottom: 40px;
}

@media all and (max-width: 992px) {
    .product-section {
        text-align: center;
    }

    .product-section h1 {
        padding-top: 40px;
    }

    #shop-cat-button {
        float: right;
        margin-left: 0;
    }
}

/* --------------------------- SHOP PAGES TITLE AND PRODUCT CARDS */

.shop-title {
    margin-top: 110px;
    padding-top: 0;
    padding-bottom: 10px;
    max-width: 1200px;
    background-color: #FFFFFF;
    text-align: center;
    justify-content: center;
}

.shop-title h1 {
    color: #6E7F80;
    background-color: #FFFFFF;
    max-width: 320px;
    min-height: 60px;
    line-height: 60px;
    margin: auto;
    text-transform: uppercase;
    font-size: 24px;
}

.shop-title h1 span {
    color: #FF5F1C;
    font-weight: bold;
}

.card {
    height: 100%;
    color: #4B5657;
    padding-top: 20px;
    max-width: 320px;
    border-radius: 5px;
}

.card h2 {
    font-size: 28px;
}

.card h3 {
    font-size: 24px;
}

.card h4 {
    font-size: 18px;
}

.card-footer--background {
    background-color: #FFFFFF;
}

.products {
    width: 100vw;
    background-color: #F6F7F7;
    padding-top: 40px;
    margin-bottom: 0;
    max-width: 1200px;
}

.product-image {
    width: 300px;
    height: 200px;
    margin: auto;
}

.colors-heading {
    margin-top: 20px;
}

/* The code for the product card colour swatches below has been adapted from a codepen.io product card example https://codepen.io/virgilpana/pen/RNYQwB/ */

.colors div {
    margin-top: 3px;
    width: 24px;
    height: 24px;
    margin-right: 15px;
    float: left;
}

.colors div span {
    width: 24px;
    height: 24px;
    display: block;
    border-radius: 50%;
}

.colors div span:hover {
    width: 32px;
    height: 32px;
    margin: -1px 0 0 -1px;
}

.navy span {
    background: #000080;
}

.red span {
    background: #FF0000;
}

.black span {
    background: #000000;
}

.white span {
    background: #FFFFFF;
    width: 24px;
    height: 24px;
    border: 1px solid #e8e9eb;
}

.orange span {
    background: #FF834F;
}

.grey span {
    background: #6E7F80;
}

.lime span {
    background: #B1EB34;
}

.brown span {
    background: #624a2e;
}

.pink span {
    background: #de3163;
}

.card-footer div i {
    color: #FFFFFF;
}

.card-footer div button {
    font-size: 12px;
}

/* code for the product card colour swatches - END */

.size-guide-table {
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
}

.size-guide-table table, th, td {
    border: 1px solid #4B5657;
    text-align: center;
}

.size-guide-heading {
    font-weight: bold;
}

/* --------------------------- HERO IMAGE AND TITLE SECTION ABOUT US PAGE */

.team-image-section {
    background: url("../images/team-hero.jpeg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 96px;
    padding: 0;
    position: relative;
}

.team-image-section div {
    background-color: rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.15);
    height: inherit;
    width: inherit;
    position: relative;
}

.team-image-section div h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    color: #F6F7F7;
    margin: 0;
    position: absolute;
    width: inherit;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 20px;
}

.team-section {
    width: 100vw;
    max-width: 1200px;
    text-align: center;
    color: #566465;
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
}

.team-section p {
    padding-left: 40px;
    padding-right: 40px;
}

.team-member {
    padding: 20px;
}

.team-member h2 {
    font-size: 24px;
}

.team-member h3 {
    font-size: 18px;
}

/* --------------------------- FOOTER */

footer {
    display: flex;
    font-family: "Montserrat", sans-serif;
    color: #F6F7F7;
    background-color: #4B5657;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.copyright {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    padding: 50px 20px 40px 20px;
    margin: 0;
}

.copyright i {
    color: #F6F7F7;
}

.fa-copyright {
    pointer-events: none;
}

.social-media {
    text-align: center;
    padding: 20px 0 30px 0;
    margin: 0;
}

.social-media li {
    display: inline;
    padding: 0 20px 0 20px;
}

.social-media i {
    font-size: 28px;
    color: #F6F7F7;
    padding-top: 20px
}

#flag {
    padding-top: 10px;
    width: 50px;
    height: 35px;
}

@media all and (max-width: 768px) {
    footer {
        justify-content: space-around;
    }
}

/* --------------------------- CONTACT US MODAL */

.contact-form {
    margin-right: auto;
    margin-left: auto;
    color: #4B5657;
    background-color: rgba(150, 164, 165, 0.5);
    border-radius: 5px;
    padding: 30px 30px 30px 30px;
}

.text-input {
    background-color: #F6F7F7;
    color: #6E7F80;
    width: 100%;
    border: 2px solid rgba(150, 164, 165, 0.5);
    border-radius: 5px;
}

.text-input:hover {
    border-color: #FF834F;
}

.text-input:focus {
    outline: #FF834F;
    background-color: #F6F7F7;
}

.text-area {
    height: 150px;
    width: 100%;
    border: 2px solid rgba(150, 164, 165, 0.5);
    border-radius: 5px;
    outline: #FF834F;
    background-color: #F6F7F7;
    color: #6E7F80;
}

.text-area:hover {
    border-color: #FF834F;
}

.text-area:focus {
    outline-color: #FF834F;
    background-color: #F6F7F7;
}

.radio-label {
    padding-left: 10px;
    padding-right: 10px;
}

#radio-label-dog {
    padding-left: 0;
    padding-right: 10px;
}
